@main-color: #26385a;
@second-color: #c3c2c72c;
@third-color: #c3c2c741;
@fourth-color: #e7e7e7;
@fifth-color: #4574a0;
@font-color: white;
@color-red: #c46566;
@menu-color: #303036e5;

body{
   background: linear-gradient(to bottom, @main-color, @fifth-color);
   font-family: 'Ubuntu', sans-serif;
   color: white;
   font-size: 25px;
   height: 100vh;
}
a{
   text-decoration: none;
   color: white;
}
.car-table{
   thead{
      background-color: @second-color;
      color:rgba(255, 255, 255, 0.637);
   }
   tbody{
      background-color: @third-color;
   }
   td, th{
      border: 1px solid @third-color;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
   }
   th{
      border-radius: 0;
      font-weight: lighter;
   }
}
section{
   padding: 30px;
}
.color-preview{
   background-color: black;
   min-width: 100px;
   min-height: 30px;
   margin-right: 10px;
   float: left;
}
.modal{
   color: white;
   background-color: @menu-color;
}
.modal .modal-footer{
   .btn-flat{
      color: white;
   }
   background-color: transparent;
}
div.nav-wrapper, nav{
   background: rgba(0, 0, 0, 0) !important;
   box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .14), 0 3px 1px -2px rgba(255, 255, 255, .12), 0 1px 5px 0 rgba(255, 255, 255, .2)
}
.btn{
   background-color: @fourth-color;
   color: @main-color;
   font-weight: bold;
}
.btn-red{
   background-color: @color-red;
   color: whitesmoke;
   &:focus, &:hover{
      background-color: @color-red;
   }
}